<header>
    <nav class="navbar navbar-expand-lg py-0 fixed-top">
        <a class="navbar-brand" href="/"><img src='/imgs/bg_imgs/logo.png' width='120px' ;></a>
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/cards" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Cards
                    </a>
                    <ul class="dropdown-menu multi-level" role='menu' aria-labelledby="navbarDropdown">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="/types">Types</a>
                            <ul class="dropdown-menu">
                            <%uniqueType.forEach(item=>{%>
                            <li><a class="dropdown-item" href="/types/<%=item%>">
                                <%=item%></a></li>
                            <%});%>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="/rarity/">Rarity</a>
                            <ul class="dropdown-menu">
                            <%uniqueRarity.forEach(item=>{%>
                            <li><a class="dropdown-item" href="/rarity/<%=item%>">
                                <%=item%></a></li>
                            <%});%>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="/arenas/">Arena</a>
                            <ul class="dropdown-menu">
                            <%uniqueArena.forEach(item=>{%>
                                <% let itemTrim = item.split(" ").join("")%>
                            <li><a class="dropdown-item" href="/arenas/<%=itemTrim%>"><%=item%></a></li>
                                <%});%>
                            </ul>
                        </li>

                    </ul>
                </li>



                <li class="nav-item">
                    <a class="nav-link" href="/feedback">Feedback <i class="far fa-comment-dots"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/chat">Chat <i class="far fa-comments"></i></a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/cards">About<i class="ml-1 far fa-hand-peace"></i></a>
                </li> -->

            </ul>
            <div class="alert text-danger fade in">
                    test
                </div>
                  
            <form class="form-inline my-2 my-lg-0" action="/search" method="get">
                <input class="form-control mr-sm-2" type="search" id ='inputSearch' placeholder="Search Cards" name='search' aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" id='btnSearch'>Search</button>
            </form>
        </div>
    </nav>
</header>
